<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="img/logo-weather-app.png">
    <link rel="stylesheet" href="/css/style.css" />
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <div class="main text-small">
            <div>
                <div>
                    Thu Nguyen came up with Anisoptera - a weather app fetching real-time weather using data from
                    <strong><a href="https://www.mapbox.com/" target="_blank">mapbox.com</a></strong></strong> and
                    <strong><a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en"
                            target="_blank">darksky.net</a></strong>, along with Node.js and Express library.

                </div>
                <div class="col-left-80 ">
                    <div class="">Fun facts:</div>
                    <div>1. Anisoptera means dragonfly in Greek.</div>
                    <div>2. Dragonfly Weather Changes in temperature are known to influence behaviors such as the time
                        of day that a species normally flies, flight activity levels throughout the day, and the
                        postures of dragonflies
                    </div>
                    <div>The higher dragonflies fly, the hotter temperature is. The lower dragonflies fly, the higher
                        chance it rains.</div>
                </div>
            </div>
            <img class="portrait" src="img/avatar.jpg" />
        </div>
    </div>
    <a href=""></a>
    {{>footer}}
</body>

</html>