<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="img/logo-weather-app.png">
    <link rel="stylesheet" href="/css/style.css" />

    <title>Anisoptera</title>
</head>

<body>

    <div class="main-content">
        {{>header}}
        <div class="weather-content">
            <form>
                <div class="search-log">
                    <input placeholder="Enter your location, ZIP code">
                    <img id="search-icon" src="img/search-icons.png" alt="search-icon">
                </div>
            </form>

            <div id="message-error" class="text-small"></div>

            <div class="weather-data">
                <div class="col-left-70  ">
                    <div id="message-1" class="text-small"></div>
                    <div id="message-2" class="text-small"></div>
                    <div class="col">
                        <div class="col-2 ">
                            <div id="message-5" class="text-small"></div>
                            <div id="message-6" class="text-small"></div>
                        </div>
                        <div class="col-2 col-2-item-2">
                            <div id="message-7" class="text-small"></div>
                            <div id="message-8" class=" text-small"></div>
                        </div>
                    </div>


                </div>
                <div class="col-right-30">
                    <div id="message-3" class="text-big"></div>
                    <div id="message-4" class="text-small text-center"></div>
                    <div><img src="" id="weather-icon" alt=""></div>
                </div>

            </div>

        </div>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>