<header>


    <div class="bar">
        <div><img src="img/logo-weather-app-1.png" alt="logo" id="logo"></div>
        <div class="nav-bar">
            <a href="/">Weather</a>
            <a href="/about">About</a>
            <a href="/help">Help</a>
        </div>

    </div>

    <h2>{{title}}</h2>
</header>