body {
  color: #414042;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

footer {
  color: #888888;
  border-top: 2px dashed #c2c2c2;
  padding: 10px;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  margin: 16px 0;
}

#logo {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 48px;
  margin-bottom: 16px;
}

.portrait {
  width: 250px;
  border-radius: 50%;
  margin: 0 20px 30px 20px;
}

.main-content {
  flex-grow: 1;
}

input {
  color: #414042;
  border-width: 0px;
  border: none;
  width: 80%;
  padding: 0 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  /* font-weight: 600; */
}

button {
  cursor: pointer;
  border: 1px solid #888888;
  background: #888888;
}

.weather-content {
  padding: 120px 90px 50px 90px;
}

.search-log {
  border: 1.5px solid #c2c2c2;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  padding: 20px 0;
  cursor: pointer;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid #c2c2c2;
  padding: 10px 0;
}

a {
  text-decoration: none;
}

a:link {
  color: #414042;
  text-decoration-line: none;
}

a:visited {
  color: #414042;
}

.nav-bar a {
  font-weight: 700;
  font-size: 1.25rem;
  color: #888888;
  padding: 10px 14px;
  cursor: pointer;
}

a:hover {
  border-bottom: 1.5px solid #c2c2c2;
}

.weather-data {
  margin-top: 40px;
  display: none;
  width: 100%;
  align-items: stretch;
  /* flex-wrap: wrap; */
}

#message-1 {
  border-bottom: 1.5px solid #c2c2c2;
}

#message-4 {
  margin-bottom: 25px;
  margin-top: -10px;
}

.col-left-70 {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.col-left-80 {
  width: 80%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.col-left-80 div {
  margin-bottom: 20px;
}

.col-right-30 {
  width: 30%;
  border-left: 1.5px solid #c2c2c2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-big {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
}

.text-small {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0;
}

.text-center {
  text-align: center;
}

.col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-2 {
  display: flex;
  flex-direction: column;
}

.col-2-item-2 {
  border-left: 1.5px solid #c2c2c2;
  width: 50%;
  text-align: center;
}

.weather-icon {
  margin: 15px 0;
}

.main {
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}

.main-help {
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (max-width: 850px) {
  .bar {
    flex-direction: column;
  }

  .weather-content {
    padding: 80px 20px 50px 20px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .portrait {
    align-self: center;
  }

  .col-2 {
    flex-direction: column;
  }

  .col-2-item-2 {
    border-left: none;
    text-align: left;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .search-log {
    padding: 15px 0;
  }

  .weather-data {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -40px;
  }

  .col-right-30 {
    border-left: none;
    width: 100%;
  }

  .col-left-70 {
    width: 100%;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 499px) {
  .weather-content {
    padding-top: 30px;
  }

  .text-small {
    font-size: 17px;
  }

  .col-left-80 {
    width: 100%;
  }
}
